.theos/
packages/
.DS_Store
.cache
.clangd
compile_commands.json
old/
old2/
.cache/
build.sh
build-ts.sh
build-alt.sh
build-lc.sh
build-without.sh
build-debug.sh
.git
/.vscode
sec/
macho-patcher/venv/
